.first_boxx
{
    background-image: linear-gradient(rgba(54, 28, 107, 0.5),rgba(39,11,107,0.5)), url("./images/peoplesocialmedia.jpg");
    background-size: cover; 

  border-radius:  0px 10px 10px 0px;
}
