*
{
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body
{
  background-color: rgba(244, 242, 237, 0.685);
  overflow-x: hidden;

}
@media screen and (max-width: 1230px) {
  .centerdiv
  {
    width: 80vw;
  }
 }
